<h1>{{ display?.title }}</h1>
<app-timeline *ngIf="data" [data]="data" [displayRole]="display?.roles" [toToday]="type === 'love'" (selectItem)="selected = $event"></app-timeline>
<div class="tale" *ngIf="selected">
    <figure *ngIf="selected.photo">
        <img [src]="selected.photo">
        <figcaption *ngIf="selected.photoYear">({{selected.photoYear}})</figcaption>
    </figure>
    <header>
        <div class="tags" *ngIf="selected.tags">
            <span *ngFor="let tag of selected.tags" [style.background-image]="'url(' + tag.icon + ')'">{{tag.name}}</span>
        </div>
        <div class="people" *ngIf="selected.people">Avec {{ getPeople() }}</div>
        <h2 [style.color]="'#' + selected.color">{{selected.title}}</h2>
        <span class="dates">{{ getSelectedDates() }}</span>
    </header>
    <div [innerHtml]="selected.content | textFormat | insertPics"></div>
</div>