@import './variables';

:host {
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 68px);

    ::ng-deep app-timeline-page {
        flex: 1;
        max-height: 100%;
    }
}

nav {
    padding: 1rem;

    ul {
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        list-style: none;

        li {
            padding: 0;

            a {
                $icon-size: 32px;
                background-size: $icon-size auto;
                background-repeat: no-repeat;
                background-position: top center;
                padding-top: calc($icon-size + .25em);
                text-align: center;
                display: block;
                width: $icon-size;
                filter: grayscale(1);
                opacity: .5;
                position: relative;

                &:hover,
                &.active {
                    filter: none;
                    opacity: 1;
                }

                &::before {
                    content: attr(title);
                    position: absolute;
                    bottom: 0;
                    font-family: $secondary-font;
                    text-transform: uppercase;
                    font-size: .85em;
                    left: -30px;
                    right: -30px;
                    display: block;
                    text-align: center;
                    opacity: 0;
                    transition: opacity .5s, bottom .5s;
                    color: #555;
                    height: 100%;
                    z-index: -1;
                    pointer-events: none;
                }

                &:hover::before {
                    opacity: 1;
                    bottom: calc(70%);
                }
            }

            &.home a { background-image: url(/assets/home.png); }
            &.job a { background-image: url(/assets/job.png); }
            &.volunteering a { background-image: url(/assets/volunteering.png); }
            &.hobby a { background-image: url(/assets/hobby.png); }
            &.school a { background-image: url(/assets/school.png); }
            &.love a { background-image: url(/assets/love.png); }
            &.unclassified a { background-image: url(/assets/unclassified.png); }
            &.search a { background-image: url(/assets/search.png); }
        }
    }
}