@import '../../variables';

$line-color: #ccc;
$line-height: 6px;

:host {
    margin-bottom: 100px;
}

.wrapper {
    position: relative;
}

.line {
    display: flex;
    margin-top: 2em;
}

.month-wrapper {
    position: relative;
    height: $line-height;
    background: $line-color;
    flex: var(--days);
    opacity: .8;

    .year {
        position: absolute;
        top: calc(100% + .25rem);
        left: -.5em;
        font-family: $secondary-font;
        font-size: .85rem;

        &::before {
            content: '';
            display: block;
            position: absolute;
            background-color: $line-color;
            border-radius: 100%;
            width: $line-height * 2;
            height: $line-height * 2;
            bottom: calc(100% - $line-height / 2 + .25rem);
            right: 0.5em;
        }
    }

    .month {
        position: absolute;
        bottom: calc(100% + .25rem);
        display: none;
        font-family: $secondary-font;
        font-size: .8rem;
        font-weight: 300;

        &::before {
            content: '';
            display: block;
            border-bottom: 3px solid $line-color;
            border-left: 2px solid transparent;
            border-right: 2px solid transparent;
            position: absolute;
            bottom: -.3em;
            left: .25em;
        }
    }

    &[data-month="0"],
    &[data-month="4"],
    &[data-month="8"] {
        .month {
            display: block;
        }
    }

    @media screen and (max-width: 1200px) {
        &[data-month] .month { display: none; }
        &[data-month="0"],
        &[data-month="6"] {
            .month {
                display: block;
            }
        }
    }

    @media screen and (max-width: 800px) {
        &[data-month] .month { display: none; }
        &[data-month="0"] {
            .month {
                display: block;
            }
        }
    }
}

.ranges {
    position: relative;

    &[data-levels="0"] {
        margin-top: 80px;
    }

    &[data-levels="1"] {
        top: 45px;
        z-index: 1;
        margin-top: 120px;

        .range {
            border-top-left-radius: 0;
        }

        + .line {
            .month-wrapper {
                .month {
                    bottom: calc(100% + 0.5rem);

                    &::before {
                        bottom: -0.6em;
                    }
                }

                .year {
                    top: calc(100% + 0.5rem);

                    &::before {
                        bottom: calc(100% - 3px + 0.5rem);
                    }
                }
            }
        }
    }
}

.range {
    position: absolute;
    background-color: var(--color);
    border-radius: 10px;
    white-space: nowrap;
    overflow: visible;
    font-family: $secondary-font;
    font-size: .8rem;
    font-weight: 300;
    min-width: 2px;
    z-index: 2;

    .icon {
        $size: 75px;
        $elevation: 50px;
        position: absolute;
        left: calc(-1 * $size / 2);
        bottom: $elevation;
        display: block;
        width: $size;
        height: $size;
        border-radius: 100%;
        border: 2px solid var(--color);
        background-size: cover;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 100%;
            left: calc(50% - 2px);
            height: calc($elevation - .8rem);
            border-left: 2px solid var(--color);
            z-index: -1;
        }
    }

    .name {
        display: block;
        margin-left: .5em;
        max-width: calc(100% - 1em);
        overflow: hidden;
    }

    &.still {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        .name {
            max-width: calc(100% - .5em);
        }
    }

    &.translucid {
        opacity: .5;
        filter: grayscale(1);
        z-index: 1;
    }
}

.chapters {
    position: relative;
}

.text {
    cursor: pointer;
}

.chapter {
    position: absolute;
    width: 32px;
    background: no-repeat top center;
    background-size: contain;
    text-align: center;
    padding-top: 32px;
    font-family: $secondary-font;
    font-size: .75em;
    top: 40px;
    margin-left: -10px;

    &::before {
        content: '';
        display: block;
        height: 40px;
        border-left: 2px dashed $line-color;
        position: absolute;
        bottom: 100%;
        left: 10px;
        z-index: -1;
    }

    .title {
        position: absolute;
        top: -.25em;
        bottom: -.25em;
        left: -.25em;
        display: flex;
        align-items: center;
        white-space: nowrap;
        background-color: $line-color;
        z-index: -1;
        border-radius: 10px;
        padding: .25em .75em .25em calc(32px + .75em);
        font-family: $main-font;
        opacity: 0;
        transition: opacity .3s;
        font-size: 1.5em;

        &.left {
            padding: .25em calc(32px + 1.25em) .25em .75em;
            left: unset;
            right: -.5em;
        }
    }

    &:hover {
        .title {
            opacity: 1;
        }
    }
}