<div class="wrapper">
    <div class="ranges" [style.height.px]="(maxLevel + 1) * 22" [attr.data-levels]="maxLevel + 1">
        <div class="range text"
            *ngFor="let r of data.ranges"
            [style]="'--color: ' + (r.color ? '#' + r.color : 'lightblue')"
            [style.left.%]="getPercent(r.startDate)"
            [style.width.%]="getWidth(r)"
            [style.bottom.px]="r.level * 22"
            [style.color]="r.color ? brightnessByColor(r.color) > 180 ? '#000' : '#fff' : 'unset'"
            [title]="r.title"
            [class.still]="r.endDate === null"
            [id]="'range-' + r.id"
            [class.translucid]="(activatedChapter !== null && activatedChapter.idAssociation != r.id) || (selected != null && selected != r)"
            (click)="selectRange(r)">
            <span class="icon" *ngIf="maxLevel === 0" [style.background-image]="'url(' + r.icon + ')'" [title]="r.structure ?? ''"></span>
            <span class="name">{{ displayRole(r) }}</span>
        </div>
    </div>
    <div class="line">
        <ng-container *ngFor="let y of getMonths(); let first_y = first">
            <div class="month-wrapper"
                *ngFor="let m of y.months; let first_m = first; let i = index"
                [style]="'--days: ' + m.days"
                [attr.data-month]="first_y ? 12 - y.months.length + i : i">
                <span class="year" *ngIf="!first_y && first_m">{{ y.year }}</span>
                <span class="month">{{ m.name }}</span>
            </div>
        </ng-container>
    </div>
    <div class="chapters" *ngIf="data.chapters">
        <div class="chapter"
            *ngFor="let c of data.chapters"
            [style.left.%]="getPercent(c.startDate)"
            [class.text]="c.narrated == '1'"
            [attr.association]="c.idAssociation"
            [style.background-image]="'url(' + c.tags[0].icon + ')'"
            (mouseenter)="activatedChapter = c"
            (mouseleave)="activatedChapter = null"
            (click)="selectChapter(c)">
            <span class="date">{{ c.startDate | date:'d/MM' }}</span>
            <span class="title" [class.left]="getPercent(c.startDate) > 50">{{ c.title }}</span>
        </div>
    </div>
</div>